<div class="tariffs">
  <div class="tariffs__title">Instantly Connect with Your Leads</div>
  <div class="tariffs__bg">
    <img src="./i/bg-right.svg" alt="" />
    <img src="./i/bg-left.svg" alt="" />
</div>
  <div class="tariffs__tariffsCards">
    <div class="tariffs__card tariffs__cardLeft" cardId="0">
      <div class="tariffs__info">
        <div class="tariffs__name">Basic Survival</div>
        <div class="tariffs__price">
          <div class="tariffs__symbol">$</div>
          <div class="tariffs__days">30</div>
          <div class="tariffs__period">/Months</div>
        </div>

        <div class="tariffs__stroke1"></div>

        <div class="tariffs__description">
          Get Torque’s basic plan to optimise you lead generation process.
        </div>

        <div class="tariffs__stroke2"></div>

        <div class="tariffs__listTitle">Core Features</div>
        <div class="tariffs__type">Basic</div>
        <div class="tariffs__list">
          <div class="tariffs__item">
            <img src="./i/list-item.svg" alt="list" />
            Email addresses
          </div>
          <div class="tariffs__item">
            <img src="./i/list-item.svg" alt="list" />
            Phone numbers
          </div>
          <div class="tariffs__item">
            <img src="./i/list-item.svg" alt="list" />
            Unlimited Lists
          </div>
        </div>
      </div>
      <div class="tariffs__button">Start Free Trial</div>
    </div>

    <div class="tariffs__card tariffs__darkCard" cardId="1">
      <div class="tariffs__info">
        <div class="tariffs__name">Mission Professional</div>
        <div class="tariffs__price">
          <div class="tariffs__symbol">$</div>
          <div class="tariffs__days">276</div>
          <div class="tariffs__period">/Months</div>
        </div>

        <div class="tariffs__stroke1"></div>

        <div class="tariffs__description">
          Get Torque’s basic plan to optimise you lead generation process.
        </div>

        <div class="tariffs__stroke2"></div>

        <div class="tariffs__listTitle">Core Features</div>
        <div class="tariffs__type">Boost Tools</div>
        <div class="tariffs__list">
          <div class="tariffs__item">
            <img src="./i/list-item.svg" alt="list" />
            Email addresses
          </div>
          <div class="tariffs__item">
            <img src="./i/list-item.svg" alt="list" />
            Phone numbers
          </div>
          <div class="tariffs__item">
            <img src="./i/list-item.svg" alt="list" />
            Unlimited Lists
          </div>
          <div class="tariffs__item tariffs__itemBold">
            <img src="./i/list-item.svg" alt="list" />
            Export contacts
          </div>
          <div class="tariffs__item tariffs__itemBold">
            <img src="./i/list-item.svg" alt="list" />
            Prospecting
          </div>
          <div class="tariffs__item tariffs__itemBold">
            <img src="./i/list-item.svg" alt="list" />
            50MB Per File Attachment
          </div>
        </div>
      </div>
      <div class="tariffs__buttonRed">
        Get Started
        <img src="./i/array.svg" alt="array" />
      </div>
    </div>

    <div class="tariffs__card tariffs__cardRight" cardId="2">
      <div class="tariffs__info">
        <div class="tariffs__name">Rocketship Premium</div>
        <div class="tariffs__price">
          <div class="tariffs__symbol">$</div>
          <div class="tariffs__days">420</div>
          <div class="tariffs__period">/Months</div>
        </div>

        <div class="tariffs__stroke1"></div>

        <div class="tariffs__description">
          Get Torque’s basic plan to optimise you lead generation process.
        </div>

        <div class="tariffs__stroke2"></div>

        <div class="tariffs__listTitle">Core Features</div>
        <div class="tariffs__type">Super Fuel</div>
        <div class="tariffs__list">
          <div class="tariffs__item">
            <img src="./i/list-item.svg" alt="list" />
            Email addresses
          </div>
          <div class="tariffs__item">
            <img src="./i/list-item.svg" alt="list" />
            Phone numbers
          </div>
          <div class="tariffs__item">
            <img src="./i/list-item.svg" alt="list" />
            Unlimited Lists
          </div>
          <div class="tariffs__item">
            <img src="./i/list-item.svg" alt="list" />
            Export contacts
          </div>
          <div class="tariffs__item">
            <img src="./i/list-item.svg" alt="list" />
            Prospecting
          </div>
          <div class="tariffs__item tariffs__itemBold">
            <img src="./i/list-item.svg" alt="list" />
            50MB Per File Attachment
          </div>
          <div class="tariffs__item tariffs__itemBold">
            <img src="./i/list-item.svg" alt="list" />
            Basic analytics
          </div>
        </div>
      </div>
      <div class="tariffs__button3">Start Free Trial</div>
    </div>
  </div>
</div>
